SPRING_PROFILES_ACTIVE=prod

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

#---- Auth service (42 OAuth) ----
FORTYTWO_CLIENT_ID=
FORTYTWO_CLIENT_SECRET=
FORTYTWO_REDIRECT_URI=

#---- JWT ----
JWT_SECRET=

#---- API42 service DB ----
API42_POSTGRES_DB=
API42_POSTGRES_USER=
API42_POSTGRES_PASSWORD=

#---- API42 credentials ----
API42_UID=
API42_SECRET=
API42_NEXT_SECRET=

#---- Regular User service DB ----
REGULAR_USER_POSTGRES_DB=
REGULAR_USER_POSTGRES_USER=
REGULAR_USER_POSTGRES_PASSWORD=

#---- Regular user JWT key ----
REGULAR_USER_JWT_KEY=