# ---- API42 develop DB ----
API42_H2_USER=
API42_H2_PASS=

# ---- API42 production DB ----
API42_POSTGRES_DB=
API42_POSTGRES_USER=
API42_POSTGRES_PASSWORD=

# ---- API42 credentials ----
API42_UID=
API42_SECRET=
API42_NEXT_SECRET=
