# ---- Regular user develop DB ----
REGULAR_USER_H2_USER=
REGULAR_USER_H2_PASS=

# ---- Regular user production DB ----
REGULAR_USER_POSTGRES_DB=
REGULAR_USER_POSTGRES_USER=
REGULAR_USER_POSTGRES_PASSWORD=

# ---- Regular user JWT key ----
REGULAR_USER_JWT_KEY=